body {
  font-family: 'Alata', sans-serif;
  background-color: #89c9b8;
  color: #1b262c;
}

h1 {
  align-items: center;
  Padding: 50px 20px 50px 20px;
}

form {
  background-color: #dddddd;
  margin-top: 50px;
  padding: 20px;
}

legend {
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
  padding-top: 5px;
  padding-bottom: 5px;
}

button {
  border-color: none;
}

button:hover {
  background-color: #89c9b8;
}
